<?xml version="1.0" encoding="utf-8"?>
<html><![CDATA[<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="{$web.charset}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>{$page.title} - {$web.title}</title>
</head>
<body>{{0}}</body>
</html>]]></html>